<div class="forum-item active">
  <div class="row">
    <div class="col-md-9">
      <div class="forum-icon">
        <i class="material-symbols-outlined" style="font-size: 50px">receipt_long</i>
      </div>
      <div class="px-3">
        <a href="#" class="forum-item-title" th:text="${post.title}"></a>
        <div class="forum-sub-title" th:text="${post.description}"></div>
      </div>
    </div>
    <div class="col-md-1 forum-info"><span class="posts-number" th:text="${post.comments}"></span>
      <div>
        <small>Comments</small>
      </div>
    </div>
  </div>
</div>