<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" media="all">
  <link rel="stylesheet" th:href="@{/css/google/index.css}" media="all">
  <link rel="stylesheet" th:href="@{/css/common.css}" media="all">
  <link rel="stylesheet" th:href="@{/css/forum.css}" media="all">

  <script type="text/javascript" th:src="@{/js/htmx/htmx.min.js}"></script>

  <title>Moo Money</title>
</head>
<body>

<section id="bodySection">
  <section th:replace="~{fragments/page/navbar :: section}"></section>


  <section id="topicSection">
    <div class="container-fluid py-5 px-md-5">
      <div class="mh-100 min-vh-100 h-100">
        <div class="row">
          <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
              <div class="ibox-content m-b-sm border-bottom">
                <div class="p-xs">
                  <div class="pull-left m-r-md">
                    <i class="fa fa-globe text-navy mid-icon"></i>
                  </div>
                  <h2>Welcome to our forum</h2>
                  <span>Feel free to choose topic you're interested in.</span>
                </div>
              </div>
              <div class="ibox-content forum-container">

                <div class="forum-title">
                  <div class="pull-right forum-desc">
                    <small>Total posts: 320,800</small>
                  </div>
                  <h3>General Topics</h3>
                </div>

                <section hx-get="/api/forum/asyncTopicsList" hx-target="#asyncTopicsList" hx-trigger="load">
                  <ul id="asyncTopicsList">Loading...</ul>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section th:replace="~{fragments/page/footer :: section}"></section>
</section>

<script th:src="@{/js/holder.min.js}"></script>
<script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
</body>
</html>