<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<section>
    <div class="container-fluid py-5 px-md-5 feature">
        <div class="mh-100 min-vh-100 h-100">
            <div class="p-5 mb-4 bg-light rounded-3 row justify-content-center">
                <h1>Welcome, <span sec:authentication="principal.username"></span> 🐮</h1>
                <p>We're working hard to bring you an amazing website. Please check back later!</p>
            </div>
        </div>
    </div>
</section>