<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" media="all">
  <link rel="stylesheet" th:href="@{/css/common.css}" media="all">
  <link rel="stylesheet" th:href="@{/css/wip.css}" media="all">

  <title>Moo Money</title>
</head>
<body>

<div th:replace="~{fragments/page/navbar :: nav}"></div>

<div class="container-fluid py-5 px-md-5 feature">
  <div class="mh-100 min-vh-100 h-100">
    <div class="p-5 mb-4 bg-light rounded-3 row justify-content-center">
      <h1>Website Under Construction 🐮</h1>
      <p>We're working hard to bring you an amazing website. Please check back later!</p>
    </div>
  </div>
</div>

<div th:replace="~{fragments/page/footer :: footer}"></div>

<script th:src="@{/js/holder.min.js}"></script>
<script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
</body>
</html>