<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:hx="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/google/index.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/common.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/forum.css}" media="all">

    <script type="text/javascript" th:src="@{/js/htmx/htmx.min.js}"></script>

    <title>Moo Money</title>
</head>
<body>

<section id="bodySection">
    <section th:replace="~{fragments/page/navbar :: section}"></section>

    <section id="signupSection">
  <div class="p-4 bg-white rounded shadow-lg">
    <h2 class="mb-2 text-center">Sign Up</h2>
    <p class="text-center lead">Sign Up to access resources</p>
    <form method="POST" action="#" th:object="${postRequest}" th:action="'/api/forum/'+${topicId}+'/new'" id="postForm">

      <section class="row g-2">
        <div class="form-group form-floating col-md-6">
          <input type="text" th:field="*{title}" class="form-control form-control-lg mb-3 inputSize" placeholder="First Name" id="titleInput" required>
          <label for="titleInput">Title</label>
          <span class="has-error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
        </div>

        <div class="form-group form-floating col-md-6">
          <input type="text" th:field="*{content}" class="form-control form-control-lg mb-3 inputSize" placeholder="Last Name" id="contentInput" required>
          <label for="contentInput">Content</label>
          <span class="has-error" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
        </div>
      </section>

      <section class="row g-2">
        <div class="col-12">
          <input class="form-check-input mb-3" type="checkbox" value="" id="conditionsInput" required>
          <label class="form-check-label" for="conditionsInput">Agree to terms and conditions</label>
        </div>
      </section>

      <section class="row g-2 pt-3">
        <div class="col-12">
          <button class="btn btn-success btn-lg w-100 shadow-lg" type="submit">Submit Post</button>
        </div>
      </section>
    </form>
  </div>

  <script th:src="@{/js/auth.js}"></script>
</section>

    <section th:replace="~{fragments/page/footer :: section}"></section>
</section>

<script th:src="@{/js/holder.min.js}"></script>
<script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
</body>
</html>