<div class="forum-item active">
  <div class="row">
    <div class="col-md-9">
      <div class="forum-icon">
        <i class="material-symbols-outlined" style="font-size: 50px">receipt_long</i>
      </div>
      <div class="px-3">
        <a href="forum_post.html" class="forum-item-title">General Discussion</a>
        <div class="forum-sub-title">Talk about sports, entertainment, music, movies, your favorite color, talk about anything.</div>
      </div>
    </div>
    <div class="col-md-1 forum-info"><span class="views-number">140</span>
      <div>
        <small>Posts</small>
      </div>
    </div>
  </div>
</div>
